* {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  width: 100vw;
  height: calc(100vh - 75px);
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.header {
  width:  100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: #111111;
  color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}


.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
}

.navbar-center {
  display: flex;
  gap: 80px;
}
.navbar-center .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  transition: color 0.3s;
}

.navbar-center .link-bottom {
  width: 0%;
  height: 2px;
  background-color: #6b6b6b;
  margin-top: 5px;
  transition: width 0.3s;
}
.navbar-center .nav-link:hover .link-bottom {
  width: 80%;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.nav-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 1100;
}
.navbar-left .logo img{
  width: 100px;
  height: auto;
}
.navbar .menu-container img {
  width: 150px;
  height: auto;

  &:hover {
    color: #6b6b6b;
  }
}
.nav-btn div {
  width: 100%;
  height: 4px;
  margin: 4.5px 0 4.5px 0;
  background-color: #f5f5f5;
  border-radius: 3px;
  transition: all 0.6s ease, opacity 0.4s ease;
}

.menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #111111;
  color: #f5f5f5;
  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
}
.menu-container {
  width: 100%;
  height: calc(100% - 75px);
  margin: 75px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.menu-items a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #f5f5f5;
  padding: 20px 0 20px 0;
  font-size: 24px;
  transition: color 0.6s;

  &:hover {
    color: #6b6b6b;
  }
}


.nav-btn.active .line1 {
  transform: translate(0, 13px) rotate(45deg);
}
.nav-btn.active .line2 {
  opacity: 0;
}
.nav-btn.active .line3 {
  transform: translate(0, -13px) rotate(-45deg);
}
.menu.open {
  transform: translate(-100%);
}

main {
  width: 100vw;
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  background-color: #1a1a1a;
}
.container {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 400px;
  height: auto;
  display: flex;
  padding: 0 35px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #111111;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-form {
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 28px;
  margin: 35px  0 35px 0;
  color: #f5f5f5;
}
.input-box {
  width: 100%;
  margin: 24px 0;
  border-radius: 15px;
}
.input-box input {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #1a1a1a;
  padding: 8px 12px 8px 12px;
  background-color: #f5f5f5;
  font-size: 18px;
}
.remember {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
}
.remember label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.remember a {
  color: #f5f5f5;
  text-decoration: none;
  transition: all 0.2s;
 
  &:hover {
    color: #6b6b6b;
  }
}
.remember label {
  font-size: 14px;

}
.btn {
  width: 100%;
  padding: 10px;
  margin: 20px 0 35px 0;
  border: none;
  border-radius: 20px;
  background-color: #111111;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.8s;

  &:hover {
    background-color:  #f5f5f5;
    color: #111111;
  }
}